body {
    padding: 0px;
    background: black;
}

#container {
    background: url('hipster1.jpg');
    background-size: cover;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 50%;
    height: 300px;
    line-height: 75px;
    text-align: center;
    left: 150%;
    top: 150px;
    margin-left: -25%;
    background-color: fade-out(black, .3);
    font-size: 24px;
    font-family: 'Rambla', serif;
    color: white;
    display: block;

    h2 {
        font-size: 30px;
    }
}

#box1 {
    left: 50%;
    font-size: 24px;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 50px;
    position: absolute;
    text-align: center;
    color: white;

    &:hover {
	transition: border-bottom .2s;
	border-bottom: 5px solid white;
    }
}

progress {
    position: absolute;
    display: none;
    top: 230px;
    left: 121px !important;
    font-size: 40px;
}

progress[value]::-webkit-progress-value {
    background: rgb(144,115,155);
    background: -moz-linear-gradient(-45deg,  rgba(144,115,155,1) 0%, rgba(255,83,52,1) 30%, rgba(144,115,155,1) 63%, rgba(255,83,52,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(144,115,155,1)), color-stop(30%,rgba(255,83,52,1)), color-stop(63%,rgba(144,115,155,1)), color-stop(100%,rgba(255,83,52,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(144,115,155,1) 0%,rgba(255,83,52,1) 30%,rgba(144,115,155,1) 63%,rgba(255,83,52,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(144,115,155,1) 0%,rgba(255,83,52,1) 30%,rgba(144,115,155,1) 63%,rgba(255,83,52,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(144,115,155,1) 0%,rgba(255,83,52,1) 30%,rgba(144,115,155,1) 63%,rgba(255,83,52,1) 100%);
    background: linear-gradient(135deg,  rgba(144,115,155,1) 0%,rgba(255,83,52,1) 30%,rgba(144,115,155,1) 63%,rgba(255,83,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90739b', endColorstr='#ff5334',GradientType=1 );
    
}

progress[value]::-webkit-progress-value::before {
  content: '';
  position: absolute;
  right: 0;
  top: -125%;
}

#hipster_status {
    font-size: 20px;
    line-height: 1.5;
    position: absolute;
}

.status {
    text-align: center;
    display: none;
    top: 90px;
    left: 28% !important;
    width: 300px;
    height: 100px;
    position: relative;
}

.button {
    font-size: 16px;
    font-weight: bold;
    background-color: #FF5334;
    padding: 5px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 60px;
}

.button:focus {
    outline: none;
}

#hello {
    margin-top: 70px;
}

